//.card-product { width: 15rem; }
.card { margin-bottom: 30px; }
.card-body { padding-bottom: 0.1rem; }
.card-title { font-weight: bold; text-align: center; }
.price { text-align: right;}
.card-footer { padding: 0; }

