<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.totalItemsCount }} Items in your shopping cart
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center quantity-col">Quantity</th>
        <th class="text-end price-col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <img class="thumbnail" [src]="item.imageUrl" [alt]="item.title">
        </td>
        <td>
          {{ item.title  }}
        </td>
        <td>
          <product-quantity [product]="item" [id]="item.$key" [shopping-cart]="cart"></product-quantity>
        </td>
        <td class="text-end">
          {{ item.totalPrice | currency:'GBP':'symbol' }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>
          <button (click)="clearCart()" class="btn btn-danger btn-sm">Clear Shopping Cart</button>
        </th>
        <th></th>
        <th></th>
        <th class="text-end">
          {{ cart.finalPrice | currency:'GBP':'symbol' }} </th>
      </tr>
    </tfoot>
  </table>
</div>

