.row {
  padding-top: 10px;
  padding-left: 30px;
}

.form-group { padding-bottom: 6px;}
form { width: 30rem;}


.card { width: 20rem; }
.card-title { font-weight: bold; }

.prod-img { height: 50%; width: 100%; }
