<form [formGroup]="form" (ngSubmit)="login()">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input
        formControlName="oldPassword"
        type="password"
        id="oldPassword"
        class="form-control">
        <div *ngIf="oldPassword?.touched && oldPassword?.invalid"
             class="alert alert-danger">
             <div *ngIf="oldPassword?.errors?.required">Old Password is Required.</div>
             <div *ngIf="oldPassword?.errors?.checkOldPassword">Old Password is Not Valid.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
        formControlName="newPassword"
        type="password"
        id="newPassword"
        class="form-control">
        <div *ngIf="newPassword?.touched && newPassword?.invalid"
             class="alert alert-danger">
             <div *ngIf="newPassword?.errors?.required">New Password is Required.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="cnfPassword">Confirm Password</label>
        <input
        formControlName="cnfPassword"
        type="password"
        id="cnfPassword"
        class="form-control">
        <div *ngIf="cnfPassword?.touched && cnfPassword?.invalid"
             class="alert alert-danger">
             <div *ngIf="cnfPassword?.errors?.required">Confirm Password is Required.</div>
        </div>
        <div *ngIf="cnfPassword?.valid && form.invalid && form.errors?.checkMatchPassword" class="alert alert-danger">
            Passwords Do Not Match
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>